<a href="https://colab.research.google.com/github/ElenaPocaterra/gittest_ePocaterra/blob/main/lez5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/labs/1865331.csv")

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.head(10)

       STATION                    NAME        DATE  ...  SNWD  WESD  WESF
0  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-01  ...   0.0   NaN   NaN
1  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-02  ...   NaN   NaN   NaN
2  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-03  ...   NaN   NaN   NaN
3  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-04  ...   NaN   NaN   NaN
4  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-05  ...   NaN   NaN   NaN
5  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-06  ...   NaN   NaN   NaN
6  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-07  ...   NaN   NaN   NaN
7  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-08  ...   1.0   0.1   0.1
8  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-09  ...   0.0   NaN   NaN
9  US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-10  ...   NaN   NaN   NaN

[10 rows x 8 columns]

In [7]:
df.tail()

          STATION                    NAME        DATE  ...  SNWD  WESD  WESF
3533  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-04  ...   NaN   NaN   NaN
3534  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-05  ...   NaN   NaN   NaN
3535  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-06  ...   NaN   NaN   NaN
3536  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-07  ...   NaN   NaN   NaN
3537  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-08  ...   NaN   NaN   NaN

[5 rows x 8 columns]

In [8]:
df.index

RangeIndex(start=0, stop=3538, step=1)

In [9]:
df.columns

Index(['STATION', 'NAME', 'DATE', 'PRCP', 'SNOW', 'SNWD', 'WESD', 'WESF'], dtype='object')

In [10]:
df[['STATION' , 'NAME']]

          STATION                    NAME
0     US1DENC0010  NEWPORT 2.4 WNW, DE US
1     US1DENC0010  NEWPORT 2.4 WNW, DE US
2     US1DENC0010  NEWPORT 2.4 WNW, DE US
3     US1DENC0010  NEWPORT 2.4 WNW, DE US
4     US1DENC0010  NEWPORT 2.4 WNW, DE US
...           ...                     ...
3533  US1DENC0010  NEWPORT 2.4 WNW, DE US
3534  US1DENC0010  NEWPORT 2.4 WNW, DE US
3535  US1DENC0010  NEWPORT 2.4 WNW, DE US
3536  US1DENC0010  NEWPORT 2.4 WNW, DE US
3537  US1DENC0010  NEWPORT 2.4 WNW, DE US

[3538 rows x 2 columns]

In [11]:
df.loc[3357]['STATION']

'US1DENC0010'

In [12]:
df.iloc[3537][0]

'US1DENC0010'

In [13]:
df.describe()

              PRCP        SNOW        SNWD        WESD        WESF
count  3538.000000  2266.00000  216.000000  175.000000  256.000000
mean      0.137340     0.09594    1.026852    0.160571    0.073828
std       0.382174     0.64966    2.738447    0.457994    0.175507
min       0.000000     0.00000    0.000000    0.000000    0.000000
25%       0.000000     0.00000    0.000000    0.000000    0.000000
50%       0.000000     0.00000    0.000000    0.000000    0.000000
75%       0.070000     0.00000    0.350000    0.100000    0.100000
max       6.960000    12.30000   16.400000    2.400000    1.400000

In [14]:
df.DATE

0       2010-01-01
1       2010-01-02
2       2010-01-03
3       2010-01-04
4       2010-01-05
           ...
3533    2019-09-04
3534    2019-09-05
3535    2019-09-06
3536    2019-09-07
3537    2019-09-08
Name: DATE, Length: 3538, dtype: object

In [15]:
df["DATE"]

0       2010-01-01
1       2010-01-02
2       2010-01-03
3       2010-01-04
4       2010-01-05
           ...
3533    2019-09-04
3534    2019-09-05
3535    2019-09-06
3536    2019-09-07
3537    2019-09-08
Name: DATE, Length: 3538, dtype: object

In [17]:
listnumv=["PRCP", "SNOW", "SNWD"]

In [16]:
pd.to_datetime(df.DATE)

0      2010-01-01
1      2010-01-02
2      2010-01-03
3      2010-01-04
4      2010-01-05
          ...
3533   2019-09-04
3534   2019-09-05
3535   2019-09-06
3536   2019-09-07
3537   2019-09-08
Name: DATE, Length: 3538, dtype: datetime64[ns]

In [36]:
df[pd.to_datetime(df.DATE)]

KeyError: ignored

In [21]:
sample = df[pd.to_datetime(df.DATE) > pd.to_datetime("2018-12-31")]

In [22]:
print(sample)

          STATION                    NAME        DATE  ...  SNWD  WESD  WESF
3287  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-01-01  ...   NaN   NaN   NaN
3288  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-01-02  ...   NaN   NaN   NaN
3289  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-01-03  ...   NaN   NaN   NaN
3290  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-01-04  ...   NaN   NaN   NaN
3291  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-01-05  ...   NaN   NaN   NaN
...           ...                     ...         ...  ...   ...   ...   ...
3533  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-04  ...   NaN   NaN   NaN
3534  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-05  ...   NaN   NaN   NaN
3535  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-06  ...   NaN   NaN   NaN
3536  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-07  ...   NaN   NaN   NaN
3537  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-08  ...   NaN   NaN   NaN

[251 rows x 8 columns]

In [25]:
pop = df[~(pd.to_datetime(df.DATE) > pd.to_datetime("2018-12-31"))]

In [26]:
print(pop)

          STATION                    NAME        DATE  ...  SNWD  WESD  WESF
0     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-01  ...   0.0   NaN   NaN
1     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-02  ...   NaN   NaN   NaN
2     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-03  ...   NaN   NaN   NaN
3     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-04  ...   NaN   NaN   NaN
4     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-05  ...   NaN   NaN   NaN
...           ...                     ...         ...  ...   ...   ...   ...
3282  US1DENC0010  NEWPORT 2.4 WNW, DE US  2018-12-27  ...   NaN   NaN   NaN
3283  US1DENC0010  NEWPORT 2.4 WNW, DE US  2018-12-28  ...   NaN   NaN   NaN
3284  US1DENC0010  NEWPORT 2.4 WNW, DE US  2018-12-29  ...   NaN   NaN   NaN
3285  US1DENC0010  NEWPORT 2.4 WNW, DE US  2018-12-30  ...   NaN   NaN   NaN
3286  US1DENC0010  NEWPORT 2.4 WNW, DE US  2018-12-31  ...   NaN   NaN   NaN

[3287 rows x 8 columns]

In [33]:
import numpy as np

In [39]:
def z(pop, sample):
  return (pop.mean() - samp.mean() / (np.std(pop)) / np.sqrt(len(samp)))

In [40]:
z(pop.PRCP, sample.PRCP)

0.11415399513484442