<a href="https://colab.research.google.com/github/ElenaPocaterra/gittest_ePocaterra/blob/main/lez6earthquake.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import scipy

In [7]:
from numpy import random

x = random.normal(size=(60,))

print(x)

[ 0.28531969 -0.06586766  0.03158587  1.71130134 -0.44335831 -0.71890293
 -0.21454506 -0.31108728  0.76205512 -0.74934601 -0.11718759  0.71124718
 -1.02059914  0.8626013   0.27359893  0.08050203  0.357246   -0.4302594
  0.21231448 -0.92712959 -0.06914238  0.15330145  1.11407958  0.4187107
 -0.11699135 -0.0097463  -0.68761601  0.60829176 -0.59904848 -0.53008332
  0.68961942  0.06671966 -0.26600912  0.51553715  2.12735335 -1.06369574
  0.23281938  0.85757786  1.62006152  1.54347399  1.95932656  0.70407474
 -0.58146853  1.41692709 -0.95241078  0.15136071  1.11340912 -0.46243925
 -0.97017795 -1.91583692 -1.09900455 -1.05781501 -2.62591818 -0.23827955
 -1.13289939  0.94353973 -0.38403975 -0.2188662   0.00412377  0.70287027]

In [8]:
from __future__ import print_function, division
import pandas as pd
import pylab as pl
import scipy as sp
from scipy import stats
%pylab inline
pl.style.use("https://raw.githubusercontent.com/fedhere/DSPS/master/fbb.mplstyle")

Populating the interactive namespace from numpy and matplotlib

In [18]:
eqdata = pd.read_csv("https://raw.githubusercontent.com/fedhere/MLPNS2021/main/NHRT/earthquakes.csv", sep=" " )

In [19]:
eqdata.describe()

        GT    Unnamed: 5  Unnamed: 7  ...  Unnamed: 31  NPH  NGRM
count  0.0  70798.000000         0.0  ...          0.0  0.0   0.0
mean   NaN      2.417826         NaN  ...          NaN  NaN   NaN
std    NaN      0.407683         NaN  ...          NaN  NaN   NaN
min    NaN      2.000000         NaN  ...          NaN  NaN   NaN
25%    NaN      2.120000         NaN  ...          NaN  NaN   NaN
50%    NaN      2.300000         NaN  ...          NaN  NaN   NaN
75%    NaN      2.590000         NaN  ...          NaN  NaN   NaN
max    NaN      7.100000         NaN  ...          NaN  NaN   NaN

[8 rows x 27 columns]

In [20]:
eqdata = eqdata.rename({"#YYY/MM/DD" : "date", "HH:mm:SS.ss" : "time" , "Unnamed: 5" : "mag"}, axis=1) [["date", "time", "mag"]]

In [21]:
eqdata.describe()

                mag
count  70798.000000
mean       2.417826
std        0.407683
min        2.000000
25%        2.120000
50%        2.300000
75%        2.590000
max        7.100000

In [22]:
for i in range(len(eqdata["time"])):
  if eqdata.iloc[i].time.endswith('60.00'):
    print(eqdata.iloc[i].time)
    print(eqdata.iloc[i].time[:6] + "59.99")

04:48:60.00
04:48:59.99
14:19:60.00
14:19:59.99
21:48:60.00
21:48:59.99
15:34:60.00
15:34:59.99
06:41:60.00
06:41:59.99

In [25]:
pd.to_datetime([eqdata.iloc[0].date + " " + eqdata.iloc[0].time for i in range(len(eqdata))] )

DatetimeIndex(['1984-01-01 01:30:57.520000', '1984-01-01 01:30:57.520000',
               '1984-01-01 01:30:57.520000', '1984-01-01 01:30:57.520000',
               '1984-01-01 01:30:57.520000', '1984-01-01 01:30:57.520000',
               '1984-01-01 01:30:57.520000', '1984-01-01 01:30:57.520000',
               '1984-01-01 01:30:57.520000', '1984-01-01 01:30:57.520000',
               ...
               '1984-01-01 01:30:57.520000', '1984-01-01 01:30:57.520000',
               '1984-01-01 01:30:57.520000', '1984-01-01 01:30:57.520000',
               '1984-01-01 01:30:57.520000', '1984-01-01 01:30:57.520000',
               '1984-01-01 01:30:57.520000', '1984-01-01 01:30:57.520000',
               '1984-01-01 01:30:57.520000', '1984-01-01 01:30:57.520000'],
              dtype='datetime64[ns]', length=70798, freq=None)